html {
  border-top: 5px solid #6E8BE0;
    /* #6E8BE0 #E0CE41 #5C246E #68D771 #A49392 #6EE0A1 #3CBEFF*/;
}

h1 {
    /* display: table; */
  margin: 50 0 0 0;
  font-family: "Avenir Next";
  font-weight: 400;
  letter-spacing: -2px;
  font-size: 2.5em;
  color: #A49392;
}

h1:hover {
    /* background: linear-gradient(330deg, #e05252 0%, #99e052 25%, #52e0e0 50%, #9952e0 75%, #e05252 100%); */
  background: linear-gradient(to left, #4776E6, #8E54E9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  */;
}

h2 {
  margin: 0 auto;
  font-family: -apple-system, "BlinkMacSystemFont", sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  color: #888D92;
  letter-spacing: 0.25px;
  margin-bottom: 40px;
}

h3 {
  margin: 0 auto;
  font-family: -apple-system, "BlinkMacSystemFont", sans-serif;
  font-weight: 200;
  font-size: 1.0em;
  color: #888D92;
  letter-spacing: 0.25px;
  display: none;
  transition: all .3s ease 0s;
}

img {
  float: left;
  margin-right: 0.1em;
}

li {
  list-style-position: outside;
  margin: 0 auto;
  font-family: -apple-system, "BlinkMacSystemFont", sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  color: #888D92;
  letter-spacing: 0.3px;
  margin-bottom: 40px;
}

#name {
  display: inline-block;
}

.em-zap {
  font-size: 0.7em;
}

ul {
  padding-left: 1.2em;
  overflow: hidden;
  list-style-type: none;
}

ol {
  padding-left: 1.2em;
  overflow: hidden;
  list-style-type: circle;
}

#lastSeen {
  clear: left;
}

#projects {
  margin-bottom: 8px;
}

#site-url {
  text-decoration: none;
  color: #A49392;
}

.social {
  font-size: 1.7em;
}

.main {
  margin: 30 80 30 80;
}

#book {
  font-weight: 400;
}

#state,
#city,
#place {
  font-weight: 400;
}

a:hover {
  color: white;
}

#social-icons {
  display: inline;
  margin-left: 0.7em;
}

#detail {
  margin: 0 auto;
  font-family: -apple-system, "BlinkMacSystemFont", sans-serif;
  font-weight: 300;
  font-size: 0.8em;
  color: #888D92;
  letter-spacing: -0.25px;
  margin-bottom: 40px;
}

#footer {
  text-align: center;
}

#goodreads {
  text-decoration: none;
  color: #888D92;
}

#author {
  font-weight: 400;
}
/* span {
        text-decoration: underline;
      } */
/* span:after {
        content:"\a";
        white-space: pre;
      } */

#foursquare-place {
  text-decoration: none;
  color:#888D92
}

.writing {
  color: #6E8BE0;
  text-decoration: none;
}

.writing:hover {
  color: #3D5392;
}

i {
  margin-left: 0.3em;
    /* color: #888D92; */
  color: rgba(0, 0, 0, .44);
  cursor: pointer;
  transition: linear 0.2s;
  -moz-transition: linear 0.2s;
  -webkit-transition: linear 0.2s;
  -ms-transition: linear 0.2s;
}

i:hover {
  color: black;
}

/* Landscape phones and down */
@media (max-width: 350px) {
  ul {
    float: left;
    margin: 10 0 0 0;
    padding: 0;
  }

  .main {
    margin: 5 0 5 0;
  }

  #social-icons {
    display: block;
    margin-left: 0px;
  }

  #headshot {
    float: none;
    display:block;
    margin:auto;
  }
}

/* Landscape phones and down */
@media (min-width: 350px) and (max-width: 480px) {
  ul {
    float: left;
    margin: 10 0 0 0;
    padding: 0;
  }

  .main {
    margin: 5 0 5 0;
  }
  
  #headshot {
    float: none;
    display:block;
    margin:auto;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  ul {
    float: left;
    margin: 10 0 0 0;
    padding: 0;
  }

  .main {
    margin: 5 0 5 0;
  }

  #currentlyReading {
    visibility: hidden;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
}

/* Large desktop */
@media (min-width: 1200px) {
  .main {
    margin: 30 120 30 120;
  }
}

/* Very large desktop */
@media (min-width: 1600px) {
  .main {
    margin: 40 250 40 250;
  }
}
