body {
    font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Times New Roman', Times, serif;
    line-height: 24px;
}
a:link {
    color: #1434A4;
}
a:visited,
a:hover,
a:active {
    color: #000080;
}
::selection {
    background: #ffb84d;
    /* WebKit/Blink Browsers */
}
::-moz-selection {
    background: #ffb84d;
    /* Gecko Browsers */
}
.title {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 1.8em;
    font-weight: bold;
}
.section {
    margin-bottom: 30px;
}
.section.bio {
    margin-top: 40px;
}
.content {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    width: 500px;
}
.section.other .links {
    margin-top: 12px;
}

/* Mobile and tablet */
@media (max-width: 767px) {
    .content {
        margin-left: 0;
        margin-right: 0;
        margin-top: 60px;
        margin-bottom: 60px;
        width: 90%;
        max-width: 500px;
        padding: 0 20px;
    }
}
